body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#holder {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50px;
    top: 50px;
    border: 3px dashed #fff;
}

#info {
    width: 200px;
    height: 500px;
    position: absolute;
    left: 580px;
    top: 50px;
    border: 3px dashed #fff;
    text-align: center;
}

.score {
    font-size: 4em;
    display: block;
}

.nick {
    font-size: 2em;
    display: block;
}

.result {
    font-size: 2em;
    display: block;
}

#redNick {
    color: red;

}

#whiteNick {
    color: white;
}

#redScore {
    color: red;
}

#whiteScore {
    color: white;
}

#redResult {
    color: red;
    margin-top: 105px;
}

#whiteResult {
    color: white;
}


#status-block {
    position: absolute;
    top: 1em;
    left: 1em;
}

#current-block {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#console {
    width: 370px;
    height: 330px;
    position: absolute;
    left: 810px;
    top: 200px;
    border: 3px dashed #fff;
    padding: 10px 10px;
}

.control {
    color: #fff;
    background-color: #333;
    width: 100%;
}

#out {
    border: 0px;
    height: 300px;
    resize: none;
}

#players {
    width: 380px;
    height: 130px;
    position: absolute;
    left: 810px;
    top: 50px;
    border: 3px dashed #fff;
    border-bottom: 0px;
    padding: 5px;
    margin: 0px;
}

.player {
    list-style-type: none;
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
    display: block;
    line-height: 0.9;
    margin: 5px 3px;
    padding: 6px 8px 6px;
    font-weight: bold;
    background-color: #414141;
    color: #FFFFFF;
}

.player:hover {
    background-color: #CC0000;
}
