body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#holder {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50px;
    top: 50px;
    border: 3px dashed #fff;
}

#info {
    width: 200px;
    height: 500px;
    position: absolute;
    left: 580px;
    top: 50px;
    border: 3px dashed #fff;
    text-align: center;
}

.score {
    font-size: 4em;
    display: block;
}

.nick {
    font-size: 2em;
    display: block;
}

#redNick {
    color: red;
    margin-top: 140px;
}

#whiteNick {
    color: white;
}

#redScore {
    color: red;
}

#whiteScore {
    color: white;
}

#status-block {
    position: absolute;
    top: 1em;
    left: 1em;
}

#current-block {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#console {
    width: 370px;
    height: 480px;
    position: absolute;
    left: 810px;
    top: 50px;
    border: 3px dashed #fff;
    padding: 10px 10px;
}

.control {
    color: #fff;
    background-color: #333;
    width: 100%;
}

#out {
    border: 0px;
    height: 455px;
    resize: none;
}

