body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#holder {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50px;
    top: 50px;
    border: 3px dashed #fff;
}

#info {
    width: 200px;
    height: 500px;
    position: absolute;
    left: 580px;
    top: 50px;
    border: 3px dashed #fff;
}

.score {
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
}

#redScore {
    color: red;
    margin-top: -90px;
}

#whiteScore {
    color: white;
    margin-top: 20px;
}

#status-block {
    padding-top: 1em;
    padding-left: 1em;
}

#nick-block {
    padding-left: 1em;
}

#current-block {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.red { color: red; }
.connected { color: green; }

#console {
    width: 390px;
    height: 500px;
    position: absolute;
    left: 810px;
    top: 50px;
    border: 3px dashed #fff;
}

.control {
    position:absolute;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #444;
    border: 0px;
}

#out  {
    height: 450px;
    margin: 10px 10px;
}

#in {
    margin-left: 10px;
    margin-right: 10px;
    bottom: 10px;
}
